################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/personal_cSharp
/.vs/personal_cSharp/FileContentIndex
/.vs/personal_cSharp/FileContentIndex/3010811e-ffdf-4fb5-b2f7-e2e4375219b6.vsidx
/.vs/personal_cSharp/FileContentIndex/3260f5be-9323-42bc-b66d-0e939e3e3042.vsidx
/.vs/personal_cSharp/FileContentIndex/740fa95e-130f-46d3-916d-1062d934a503.vsidx
/.vs/personal_cSharp/FileContentIndex/9e2fd856-f160-4c7b-897d-e6f7c5428e5f.vsidx
/.vs/personal_cSharp/FileContentIndex/fe0a2367-2795-48f4-9ac3-11828a3f6d4d.vsidx
/.vs/personal_cSharp/v17
/.vs/personal_cSharp/v17/DocumentLayout.backup.json
